<% if @article.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @article.errors.full_messages.each do |message| %>
      <li class='text-danger'><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>