<div class="offset-2 col-8 new-article mt-5 border border-danger rounded p-0">
  <h5 class="text-center text-white py-3 bg-danger">Create a new article</h5>
  <%= render 'articles/error_messages' %>
  <div class="p-3">
    <%= render partial: 'form' %>
  </div>
  
</div>
