<div class="offset-2 col-8 new-article mt-5 b-color rounded p-0">
  <h5 class="text-center text-white py-3 m-color">Create a new article</h5>
  <%= article_error_messages(@article) %>
  <div class="p-3">
    <%= render partial: 'form' %>
  </div>
  
</div>
