<section class="container-fluid p-0">
  <article class="p-0 featured-article">
    <%= banner_image %>
    <div class="title">
      <%= banner_header(featured_article) %>
    </div>
  </article>
</section>
<section class="d-flex">
  <%= render 'categories/thumbnails' %>
</section>
