<h1 class="h3">All Users Page</h1>

<div class="row">
  <div class="col-md-4">
    <% @user.each do |user| %>
      <h5><%= user.username %></h3>
      <h5><%= user.email %></h3>
    <% end %>
  </div>
</div>