/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

$grey-header: #999;
$text-hover: #fd6000;
$bg-color: #4e443e;
$text: #fff;

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin bg-color {
  border: 0.2em solid $text-hover;
  border-radius: 0.5em;
}

@mixin buttons {
  background-color: $text-hover;
  border: none;
  color: white;
  padding: 0.3em 0.8em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
}

@mixin banner-mix {
  font-weight: bolder;
  color: $text-hover;
  text-shadow: 0.06em 0.08em $bg-color;
}
