$grey-header: #999999;
$text-yellow: #cf8417;
$text-hover: #da4617;
$bg-color: hsl(31, 51%, 9%);

@mixin flex-style {
  display: flex;
  justify-content: space-between;
}

@mixin hover-style {
  cursor: pointer;
  color: white;
}

body {
  height: 100vh;
  .header-nav {
    color: $grey-header;
    padding: 0.5em;
    @include flex-style;
    ul li {
      display: inline-block;
      list-style: none;
      a {
        text-transform: uppercase;
        margin-right: 0.7em;
        font-size: 0.9em;
        color: $grey-header;
        text-decoration: none;
        font-weight: bold;
        &:hover {
          color: $text-hover;
        }
      }
    }
    .h-item {
      align-self: center;
    }
    .logo {
      width: 70%;
    }
    .itm1 {
      width: 50%;
    }
    .itm2 {
      width: 50%;
      text-align: right;
      padding-top: 0.9em;
    }
    .itm3 {
      text-align: right;
      padding-top: 0.9em;
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $bg-color;
    @include flex-style;
    .f-logo {
      width: 65%;
    }
    .socials {
      color: $text-hover;
      font-size: 1.8em;
      padding-right: 0.3em;
      &:hover {
        @include hover-style;
      }
    }
    .copy {
      color: $text-hover;
      padding-right: 0.7em;
      &:hover {
        @include hover-style;
      }
    }
    .footer-text {
      font-size: small;
    }
  }

}
