// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'application.scss';

.m-color {
  background-color: $text-hover;
}

.b-color {
  border: 0.2em solid $text-hover;
  border-radius: 0.5em;
}

.t-color {
  color: $text-hover;
}

.buttons {
  @include buttons;
}
