// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import 'application.scss';

.all-categories {
  background-color: #f1d79e;

  a {
    text-decoration: none;
    color: $text-hover;
    font-weight: bold;
    font-style: italic;

    &:hover {
      color: $grey-header;
    }
  }
}

.featured-article {
  position: relative;
  height: 28em;

  .f-image {
    height: 100%;
  }

  .title {
    position: absolute;
    bottom: 1em;

    .t-header {
      @include banner-mix;

      font-size: 1.6em;

      .sub-header {
        color: $text;
        font-size: 0.8em;
      }

      .t-link {
        @include banner-mix;

        font-size: 1em;
      }

      .l-header {
        color: $text;
        font-size: 0.7em;
      }
    }

    a {
      &:hover {
        text-decoration: none;
        color: $grey-header;
      }
    }
  }
}

.articles-thumb {
  height: 13em;
  display: inline-block;
  width: 20%;
  position: relative;

  .article-details {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    text-decoration: underline;
    font-weight: bolder;
    text-decoration-color: rgb(255, 208, 0);
    text-shadow: 0.06em 0.08em $text-hover;
  }

  .details-title {
    text-decoration: none;
    color: $text;
    position: absolute;
    bottom: 1em;
    left: 0.5em;

    &:hover {
      color: white;
      text-shadow: 0.06em 0.08em $text-hover;
    }
  }
}

.b-color {
  @include bg-color;
}

.m-color {
  background-color: $text-hover;
}

.buttons {
  @include buttons;
}

@media only screen and (max-width: 868px) {
  .m-c {
    flex-direction: column;
    .articles-thumb {
      display: block;
      width: 100%;
    }
  }
}