<div class="mx-auto">
  <%= link_to root_path do %>
  <%= image_tag 'techtalk.png', class: 'f-logo img-fluid f-display' %>
  <% end %>
</div>
<div class="text-light mx-auto">
  <p class="footer-text f-display">
    <span class="copy">Privacy Policy</span>
    <span class="copy">Terms & Conditions</span>
    <span class="d-block">Copyright 2020. All Rights Reserved.</span>
  </p>
</div>
<div class="text-light mx-auto">
  <p class="footer-text f-display">
    <span>Connect with us:</span>
    <span>
      <a href="https://twitter.com/ola_lere" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-twitter-square socials" aria-hidden="true"></i>
      </a>

      <a href="https://taofeekolalere.me/" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-briefcase socials" aria-hidden="true"></i>
      </a>

      <a href="https://www.linkedin.com/in/olaleretaofeek/" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-linkedin-square socials" aria-hidden="true"></i>
      </a>

      <a href="https://github.com/teekaytech" target="_blank" rel="noopener noreferrer">
        <i class="fa fa-github-square socials" aria-hidden="true"></i>
      </a>
    </span>
  </p>
</div>