  <div><%= image_tag 'footer_logo.png', class: 'f-logo pb-1 img-fluid' %></div>
  <div class="text-light pt-3">
    <p class="footer-text">
      <span class="copy">Privacy Policy</span>
      <span class="copy">Terms & Conditions</span>
      <span>Copyright 2020. All Rights Reserved.</span>
    </p>
  </div>
  <div class="text-light mt-2">
    <p class="footer-text">
      <span>Connect with us:</span>
      <span>
        <i class="fa fa-twitter-square socials" aria-hidden="true"></i>
        <i class="fa fa-instagram socials" aria-hidden="true"></i>
        <i class="fa fa-facebook-square socials" aria-hidden="true"></i>
      </span>
    </p>
  </div>
</nav>
