<nav class="navbar navbar-expand-md navbar-light header-nav">
  <%= link_to users_path, class: 'navbar-brand' do %>
    <%= image_tag 'techtalk.png', class: 'w-75 img-fluid' %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class='navbar-nav ml-auto'>
      <li class="nav-item"><%= link_to "home", users_path %></li>
      <%= header_navigations(current_user) %>
      <i class="fa fa-search pr-3 pt-1" aria-hidden="true"></i>
    </ul>
  </div>
</nav>
