<% if current_user%>
  <li class="nav-item pr-3"><%= link_to "#{current_user.username}'s page", user_path(current_user), class: "text-decoration-none" %></li>
  <li class="nav-item"><%= link_to "logout", logout_path(current_user), method: :delete, class: " text-decoration-none" %></li>
<%else%>
  <li class="nav-item pr-3"><%= link_to "Login", login_path, class: "text-decoration-none"%></li> 
  <li class="nav-item"><%= link_to "Sign up", new_user_path, class: "text-decoration-none"%></li>
<%end%>